html,body {
	font-family: 'Roboto', Verdana, sans-serif;
	padding: 0;
	margin: 0;
}

#nav {
	position: absolute;
	z-index: 2000;
	top: 0;
	left: 100%;
	margin-top: 25px;
	margin-right: 25px;
	margin-left: -40em;
	-moz-box-shadow: 0px 2px 8px #515151;
	-webkit-box-shadow: 0px 2px 8px #515151;
	box-shadow: 0px 2px 8px #515151;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-image: -moz-linear-gradient(top, #ffffff, #d0c6d1);
	background-image: -ms-linear-gradient(top, #ffffff, #d0c6d1);
	background-image: -o-linear-gradient(top, #ffffff, #d0c6d1);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#d0c6d1));
	background-image: -webkit-linear-gradient(top, #ffffff, #d0c6d1);
	background-image: linear-gradient(top, #ffffff, #d0c6d1);
}

#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav ul li {
	display: inline;
}

#nav ul li a {
	font-family: 'Roboto', Verdana, sans-serif;
	float: left;
	line-height: 2em;
	text-align: center;
	width: 8em;
	height: 2em;
	color: black;
	text-decoration: none;
	padding: 0.2em 0.6em;
	border-right: 1px solid #ccc;
}

#nav ul li a:hover {
	text-decoration: underline;
}

#bottom_bar {
	z-index: 1001;
	background-image: -moz-linear-gradient(top, #ccc, #d0c6d1);
	background-image: -ms-linear-gradient(top, #ccc, #d0c6d1);
	background-image: -o-linear-gradient(top, #ccc, #d0c6d1);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ccc), to(#d0c6d1));
	background-image: -webkit-linear-gradient(top, #ccc, #d0c6d1);
	background-image: linear-gradient(top, #ccc, #d0c6d1);
	height: 20px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	-moz-box-shadow: 0px 2px 8px #515151;
	-webkit-box-shadow: 0px 2px 8px #515151;
	box-shadow: 0px 2px 8px #515151;
}


/* CSS - OpenLayers personalization*/

div.olControlZoom {
	position: absolute !important;
	left: 25px !important;
	top: 25px !important;
}

.olControlZoomIn, .olControlZoomOut {
	-moz-box-shadow: 0px 2px 8px #515151;
	-webkit-box-shadow: 0px 2px 8px #515151;
	box-shadow: 0px 2px 8px #515151;
	background-color: white !important;
	height: 2em !important;
	width: 2em !important;
}

div.olControlZoom a {
	color: black !important;
	line-height: 2em !important;
	background-image: -moz-linear-gradient(top, #ffffff, #d0c6d1) !important;
	background-image: -ms-linear-gradient(top, #ffffff, #d0c6d1) !important;
	background-image: -o-linear-gradient(top, #ffffff, #d0c6d1) !important;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#d0c6d1)) !important;
	background-image: -webkit-linear-gradient(top, #ffffff, #d0c6d1) !important;
	background-image: linear-gradient(top, #ffffff, #d0c6d1) !important;
}

div.olControlAttribution,div.olControlPermalink {
	position: fixed;
	bottom: 0;
	right: 5;
}

div.olControlPermalink {
	right: 200px;
}

div.olControlMousePosition {
	position: fixed;
	bottom: 0;
	left: 5;
	font-family: 'Roboto', Verdana, sans-serif;
}

.olControlMeasureToolbar div {
    display:block;
    width:  28px;
    height: 28px;
    top: 300px;
    left: 6px;
    position: relative;
}
.olControlMeasureToolbar .olControlAreaItemActive {
    background-image: url("img/areaOn.png");
    background-repeat: no-repeat;
}
.olControlMeasureToolbar .olControlAreaItemInactive {
    background-image: url("img/areaOff.png");
    background-repeat: no-repeat;
}